




























/* Header Styling */
/* .headerBar{
    display:inline-block;
    margin-left:10%;
    background-color: aqua;
} */

/* NewsBox Styling  */
/* .rowC{
    display:flex; 
    flex-direction:row;
} */
/* .newsBox{
    display:flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    background: darkorange; 
    width: 15%; 
    margin-left: 15px; 
    text-align: center;
} */


