/* SAPA Card Styling */
.boxStyle{
    background: #4C89B6;
    text-color: #231F20;
}
h3{
    margin: 0;
    border: 0;
    font-style: italic;
}
.cardList{
    display:flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    width: 85%; 
    flex-wrap: wrap; 
    min-height: 600px; 
    max-height: 700px
}
.cardNews{
    display:flex; 
    flex-direction: row;
}
